= render 'shared/side_bar'

%div.chatarea
  %div.chatarea-header
    %div.chatarea-header__left-content
      %h2.chatarea-header__left-content__group-name test
      %ul.chatarea-header__left-content__member-list
        %p Member :
        %li.chatarea-header__left-content__member-list__member y
    %a{href: 'http://'}
      %div.chatarea-header_edit Edit
  %div.chatarea-main
    - @messages.each do |message|
      = render partial: "chat", locals: { message: message }
  %div.chatarea-form
    = form_for [@group, @message], html: {id: 'new_message'} do |f|
      %div.input-box
        = f.text_field :body, class: "input-box__text", placeholder: "type a message"
        = f.label :image, class: "input-box__image" do
          = fa_icon 'picture-o'
          = f.file_field :image, class: "input-box__image__file"
      = f.submit 'Send', class: 'submit'
